- lang= 'en'
doctype html

html.h-100(lang=lang)
  title Bitcoin 10th anniversary
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='csrf', content=req.csrfToken())
  meta(name='apple-mobile-web-app-capable', content='yes')
  link(rel='stylesheet', href='bootswatch/'+settings.theme+'/bootstrap.min.css')
  style.
    .container { padding-top: 2rem; padding-bottom: 2rem; flex-direction: column }
    .container::before { content: ' '; margin-top: auto; }
    .container::after { content: ' '; margin-bottom: auto; }

    @media (max-width: 440px) {
      .btn-lg {
        padding: 0.375rem 1rem !important;
        font-size: 0.9375rem !important;
        line-height: 1.5 !important;
      }
    }

  body.h-100
    .container.d-flex.h-100: .text-center.w-100

      h1 Bitcoin is 10 years old OMG!
      h3 Tickets for #[a(href='https://www.facebook.com/events/1994274880660738/') Bitcoin 10th anniversary, January 3rd, HaOman 17 Tel Aviv]
      p
        h2 The tickets pre-order is over! :) In case more tickets are available, we will notify you and reopen the sale.

      h5.mt-3 For more details, contact #[a(href="mailto:party@bitcoin.org.il") party@bitcoin.org.il]
      p.mt-3: a(href='.'): small לגירסה בעברית

  script(src='script.js')
