- btn_type = btn_type || 'add'
- btn_text = ({ add: '➕', remove: '➖' })[btn_type]

.person.form-group
  .input-group.input-group-lg
    .input-group-prepend: button.btn.btn-secondary(type='button', data-do='person-'+btn_type)= btn_text
    input.form-control.form-control-lg(type='text', name='name', required, placeholder=(lang == 'he' ? 'שם': 'Name'))
    input.form-control.form-control-lg(type='email', name='email', placeholder=(lang == 'he' ? 'כתובת אימייל' : 'Email address'), required)
