- btn_type = btn_type || 'add'
- btn_text = ({ add: '➕', remove: '➖' })[btn_type]

.person.form-group
  .input-group.input-group-lg
    .input-group-prepend: button.btn.btn-secondary(type='button', data-do='person-'+btn_type)= btn_text
    input.form-control.form-control-lg.border-right-0(type='text', name='name', required, placeholder='שם')
    input.form-control.form-control-lg.border-right-0(type='email', name='email', placeholder='כתובת אימייל', required)
